<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.slycesdk">

    <!-- Required by Slyce SDK-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- required by MS and ZBar -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.preview.any"
        android:required="false" />

    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <application android:allowBackup="true">
        <!-- required by MixPanel-->
        // Allow us to set MixPanel flush interval reports to 10000 milliseconds
        <meta-data
            android:name="com.mixpanel.android.MPConfig.FlushInterval"
            android:value="10000" />
    </application>

</manifest>
